<header >
    }
    <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
        <a class="navbar-brand" routerLink="/">
            <span class="mr-1" style="color:white">{{title}} {{version}}</span>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link">
                        <fa-icon
                                [icon]="faCircle"
                                [ngStyle]="{'color': (currentMS !== undefined) ? 'green' : 'red'}"
                        ></fa-icon> Connected: {{ (currentMS === undefined) ? 'No' : currentMS + ' ms' }}
                    </a>
                </li>
                <!--<li class="nav-item active">
                    <a class="nav-link" routerLink="/about">
                        <i class="far fa-question-circle mr-1"></i>About
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/contact">
                        <i class="fas fa-envelope mr-1"></i>Support
                    </a>
                </li>-->
                <!--
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/signin">
                    <i class="fas fa-user mr-1"></i>Sign in
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="https://github.com/ganatan">
                    <i class="fab fa-github mr-1"></i>Github
                  </a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>