<div class="app">

  <app-header></app-header>

  <router-outlet></router-outlet>

  <!--<main>
    <div class="container-fluid">

      <ul ngbNav #nav="ngbNav" class="nav-pills nav-fill">
        <li ngbNavItem>
          <a ngbNavLink>Map & Path</a>
          <ng-template ngbNavContent>
            <app-map></app-map>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>AI Behaviour</a>
          <ng-template ngbNavContent>
            <app-bot-behaviour></app-bot-behaviour>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>Routines</a>
          <ng-template ngbNavContent>
            <app-combat-routine></app-combat-routine>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>Sensors</a>
          <ng-template ngbNavContent>
            <app-game-frame></app-game-frame>
            <div class="col-6">
              <app-chat></app-chat>
            </div>
          </ng-template>
        </li>

        <li ngbNavItem>
          <a ngbNavLink>Configuration</a>
          <ng-template ngbNavContent>
            <app-configuration></app-configuration>
          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="nav"></div>

    </div>


  </main>-->

  <div class="footer" *ngIf="standalone">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2020 - www.ganatan.com</p>
        </div>
      </div>
    </div>
  </div>
</div>