
<div ng-repeat="model in state_data" class="col-lg-3">
    <h1>Core {X}</h1>

    Map: <b>{{model.map_name}}</b>
    </br>
    Winner: <b>{{model.winner}}</b>
    </br>
    Update Ticks: {{model.clock._update_ticks}}
    </br>
    Render Ticks: {{model.clock._render_ticks}}
    </br>
    <hr>


        <div ng-repeat="player in model.players">
            Name: {{player.name}}
            </br>
            Food: {{player.consumed_food}} / {{player.food}}
            </br>
            Lumber: {{player.lumber}}
            </br>
            Gold: {{player.gold}}
            </br>
            Oil: {{player.oil}}
            </br>

            <div ng-repeat="unit in player.units">
                {{model[unit]}}
            </div>

            <hr>



        </div>





</div>
